{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="welcome">
        <div class="text">
            <p>Welcome,</p>
            <p>This webpage is a portal for the benjaminhamon.com domain.</p>
        </div>
    </article>
</section>

<section>
    <article class="link-entry">
        <a href="https://author.benjaminhamon.com">
            <p class="heading">Author's Website</p>
            <p class="description">A website about my books and me as a writer.</p>
        </a>
    </article>
    <article class="link-entry">
        <a href="https://developer.benjaminhamon.com">
            <p class="heading">Developer's Website</p>
            <p class="description">A website about my software projects and me as a software engineer.</p>
        </a>
    </article>
    <article class="link-entry">
        <a href="https://blog-fiction.benjaminhamon.com">
            <p class="heading">Thoughts About Fiction</p>
            <p class="description">A blog where I discuss fiction and storytelling.</p>
        </a>
    </article>
</section>

{% endblock %}
